body {
  margin: 1em;
}

.prompt {
  border-radius: 12px;
  padding: 1em 0.5em;
  background-color: #eee;
  margin: 2em 2em 1em 0;
}
.prompt p {
  margin: 0;
  font-weight: 600;
}

.prompt p::before {
  content: "➤ ";
}

.response {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1em;
  margin: 1em 2em 3em 2em;
}

.markdown-body hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  height: 1px;
  padding: 0;
  margin: 12px 0;
  background-color: #d0d7de;
}