body {
  margin: 1em;
}

.prompt {
  border-radius: 12px;
  padding: 1em 0.5em;
  background-color: #eee;
  margin: 2em 0 1em 0;
}
.prompt p {
  margin: 0;
  font-weight: 600;
}

.prompt p::before {
  content: "➤ ";
}

.response {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1em;
  margin: 1em 0 3em 2em;
}

.response h5 {
  font-size: 1.2em;
  color: #1F2328;

}

.response h6 {
  font-size: 1em;
  color: #1F2328;  
}

.markdown-body hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  height: 1px;
  padding: 0;
  margin: 12px 0;
  background-color: #d0d7de;
}

section:after {
  content: unset;
}

.markdown-body .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.markdown-section iframe[src*="image"],
.markdown-body iframe[src*="image"] {
  aspect-ratio: 0.63;
}