<!doctype html>
<base href="{{site.baseurl}}{{page.dir}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="https://ifc.juncture-digital.org/favicon.ico" type="image/png"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.0/cdn/themes/light.css" />
<link rel="stylesheet" href="//ifc.juncture-digital.org/css/index.css" />
<link rel="stylesheet" href="{{site.baseurl}}/custom.css" />
<main class="ghp">{{ content }}</main>
<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.0/cdn/shoelace-autoloader.js"></script>
<script type="module" src="//ifc.juncture-digital.org/js/index.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RE11DCFVJ2"></script>
<script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-RE11DCFVJ2'); </script>
